// compileCompressed: style.css

$gameBoardH : 80vh
$gameBoardW : 75vh
$gameScreenH : 65vh
$gameScreenW : 60vh
*
  margin: 0px
  padding: 0px
  box-sizing: border-box
.gameBoard
  height: $gameBoardH
  width: $gameBoardW
  margin: 2% auto
  background-color: #eac086
  border: 2px solid red
  border-radius: 5%
  position: relative
  .gameScreen
    height: $gameScreenH
    width: $gameScreenW
    background-color: #004400
    position: absolute
    border: 2px solid red
    top: $gameBoardH/2 - $gameScreenH/2
    left: $gameBoardW/2 - $gameScreenW/2
