// compileCompressed: style.css

$gameBoardH : 80vh
$gameBoardW : 75vh
$gameScreenH : 65vh
$gameScreenW : 60vh
$secH : $gameScreenH/3
*
  margin: 0px
  padding: 0px
  box-sizing: border-box
.gameBoard
  height: $gameBoardH
  width: $gameBoardW
  margin: 5% auto
  background-color: #eac086
  border-radius: 5%
  position: relative
  .gameScreen
    height: $gameScreenH
    width: $gameScreenW
    background-color: #004400
    position: absolute
    top: $gameBoardH/2 - $gameScreenH/2
    left: $gameBoardW/2 - $gameScreenW/2
    cursor: default
    .sec
      height: $secH
      width: 33.3333%
      position: absolute
      left: 0
      top: 0
      border: 1px solid green
      z-index: 99
    .crosses
      position: absolute
      width: 100%
      .cross
        height: $secH
        width: 33.33%
        position: absolute
        display: none
        color: white
        font-size: 20vh
        font-family: arial
        text-align: center
    .askPlayer
      color: white
      text-align: center
      font-family: cursive
      .message
        font-size: 2em
        display: block
        margin: 10vh
      .options
        font-size: 1.5em
        text-align: center
        padding: 2vh 5vh
        div
          border-radius: 20%
          width: 45%
          cursor: pointer
        div:nth-child(1)
          float: left
        div:nth-child(2)
          float: right
        div:hover
          border: 3px dashed white
.turns
  color: white
  font-family: arial
  text-align: center
  font-weight: bold
  &>div
    padding: 5px
  .your
    background-color: #449999
    height: 5vh
    width: 40%
    position: absolute
    z-index: -1
    top: -5vh
    margin: 0px 2.5vw
  .computer
    background-color: #993377
    height: 5vh
    width: 40%
    position: absolute
    z-index: -1
    top: -5vh
    right: 0
    margin: 0px 2.5vw
